@mixin footer-1{
	.footer{
		background: #222222;

		a{
			color:#99B02F;
		}

		p{
			text-align: left;
			color: #6d6d6d;
			padding: 1em;
			border-bottom: 1px solid #6d6d6d;
		}
		.footer-contacto{
			margin: 0;
			.rexDev{
				font-size: 2em;
				font-family: "Quicksand-Regular", sans-serif;
				color: #dcdcdc;
				display: block;
				margin: 1em 0 0 0;
			}
			li{
				color:#6d6d6d;
				display: block;
				padding: .5em;
				text-align: center;
				&:nth-child(5){
					width: 90%;
				}
					p{
						font-size: 1em;
						display: inline-block;
						border: none;
						color: #6d6d6d;
						padding: 0;
					}
			}
		}
		.menu{
			text-align: center;
			li{
				display: inline-block;
				padding: 0;

				.button.hollow {
				    border: 1px solid #dcdcdc;
				    color: #dcdcdc;
				    	&:hover{
				    		border: 1px solid #99B02F;
				    		color: #99B02F;
								a{
									color:#99B02F;
								}
				    	}
				}
			}
		}

	}
	.asesoria{
	    display: block;
	    margin: auto;
	    text-align: center;
	    list-style-type: none;
	    margin: 0;
			a{
				border: 1px solid #6d6d6d;
			    color: #6d6d6d;
			    padding: 1em;
			    width: 43%;
			    min-width: 200px;
			    margin: auto;
			    &:hover{
					color: #dcdcdc;
					border: 1px solid #dcdcdc;
			    }
			}
		}
		.submenu{
			display: none;
		}

	.copy{
		background: #373737;
		margin: 0;
		padding: 0;
		p{
			text-align: center;
			color: #eee;
			margin: 0;
			padding: 1em 0;
		}
	}
}
@mixin footer-2{
	.footer{
		background: #222222;
		a{
			color:#99B02F;
		}
		.footer-contacto{
			text-align: center;
			display: inline-block;
			.rexDev{
				margin: .5em 0 0 0;
				font-size: 3em;
			}
			li{
				display: inline;
			}
		}
		.menu{
			text-align: center;
			li{
				display: inline-block;
				padding: 0;
				.button.hollow {
				    border: 1px solid #dcdcdc;
				    color: #dcdcdc;
				    	&:hover{
				    		border: 1px solid #99B02F;
				    		color: #99B02F;
								a{
											color:#99B02F;
									}
				    	}
				}
			}
		}
	}
}


@mixin footer-3{
	.footer{
		background: #222222;

		a{
			color:#99B02F;
		}

		.footer-contacto{
			margin: 3em 0;
			text-align: left;
			.rexDev{
				font-size: 3em;
				text-align: left;
				margin: 0;
			}

			li{
				display: inline;
				padding: .2em;
			}
		}
	}

	.asesoria{
		margin: 6em 0 4em 0;
	}
	.submenu{
		display: block;
		margin: auto;
		ul{
			text-align: center;
			li{
				display: inline-block;
				padding: .5em;
				a{
					color: #dcdcdc;
					&:hover{
						color: #6d6d6d;
					}
				}
			}
		}
	}
	.menu{
		.button.hollow {
		    border: 1px solid #dcdcdc;
		    color: #dcdcdc;
		    	&:hover{
		    		border: 1px solid #99B02F;
		    		color: #99B02F;
						a{
							color:#99B02F;
						}
		    	}
		}

	}
	.copy{
		background: #373737;
		p{
			margin: 0;
			text-align: center;
			padding: 1.5em;
			color: #eee;
		}
	}
}

@mixin footer-4{

}
