<div class="footer">
	<div class="row">
	<div class="large-12 medium-12 small-12  large-centered medium-centered columns">

		<div class="large-6 medium-12 small-12 columns">
			<div class="footer-contacto">

				<b class="rexDev"> &lt; RexDev/ &gt;</b>
				<p> Nuestro objetivo es ofrecer soluciones tecnológicas de calidad a las pequeñas y medianas empresas, para posicionarse en el mercado mediante el desarrollo de aplicaciones web y móviles, ajustadas a sus necesidades.</p>

				<li><p><i class="mdi mdi-calendar-text"></i> Dirección <br/> Jardines del Rincon, <br/> Cedro #213 <br/> Morelia, Mich.</p></li>
				<li><p><i class="mdi mdi-email-outline"></i> E-mail<br/> contacto@rexdev.com </p></li>
				<li><p><i class="mdi mdi-cellphone"></i>Telefono<br/> (443)102-05-62<br/>(443)311-35-76<br/>(443)438-93-89</p></li>
			</div>
		</div>
		<div class="large-6 medium-12 small-12 columns">
			<li class="asesoria"><a class="asesoria" href="#Contacto">Asesoría sin costo</a></li>

			<div class="submenu">
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#Nosotros">Nosotros</a></li>
					<li><a href="#Servicios">Servicios</a></li>
					<li><a href="#Portafolio">Portafolio</a></li>
					<li><a href="#Contacto">Contacto</a></li>
				</ul>
			</div>
				<div class="row">
	  				<div class="large-8 large-centered columns">

	    				<ul class="menu">
					      <li>
					        <a href="https://www.facebook.com/rexdeveloper" target="_blank">
					          <button class="hollow button">
					            <i class="mdi mdi-facebook"></i>
					          </button>
					        </a>
					      </li>
					      <li>
					        <a href="https://twitter.com/RexDeveloper" target="_blank">
					          <button class="hollow button">
					          	<i class="mdi mdi-twitter"></i>
					          </button>
					        </a>
					      </li>

					      <li>
					        <a href="#" target="_blank">
					          <button class="hollow button" >
					            <i class="mdi mdi-linkedin"></i>
					          </button>
					        </a>
					      </li>
	    				</ul>
	  				</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="expanded row copy">
		<p>RexDev © {{fecha}} Copyright Holder All Rights Reserved.</p>
	</div>
