@mixin contacto-h2($font-size, $padd) {
  text-align: center;
  font-family: 'Quicksand-Light', sans-serif;
  text-transform: uppercase;
  font-size: $font-size;
  color: #fff;
  padding: $padd;
}

@mixin contacto-style {
  #contacto-background{
    height: auto;
  }
  .contacto-background-config {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
  }
  .contacto-background-tint{
    position: relative;
  }
  .contacto-background-tint:before{
    background: rgba(250, 250, 250, 0.08);
    opacity:0.8;
    content:"";
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    z-index: 1;
  }
}

@mixin formulario-style {
  position: relative;
  z-index: 999;
  .ng-valid {
    border-left: 5px solid #99B02F; /* green */
  }
  .callout{
    background: rgba(250, 250, 250, 0.1);
    border: 1px solid #a94442;
    h5{
      font-family: 'Quicksand-Bold', sans-serif;
      color: #fff;
    }
    p{
      font-family: 'Quicksand-Regular', sans-serif;
      color: #fff;
    }
  }
  input,textarea{
    vertical-align: middle;
    background: rgba(250, 250, 250, 0.1);
    border: none;
    width: 100%;
    color: #FFF;
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 300;
  }
  .button.hollow {
    border: 1px solid #99B02F;
    color: #99B02F;
    &:hover{
      border: 1px solid #99B02F;
      background-color: #99B02F;
      color: #fefefe;
    }
  }
}

@mixin mapa-style($h) {
  .mapa{
    // padding: 1.5em;
    .sebm-google-map-container {
      height: $h;
    }
  }
}

@mixin contacto-1 {
  .contacto{
    // padding: 1.5em;
    @include contacto-style;

    .formulario{
      @include formulario-style;
      h2{
        @include contacto-h2(2em, 1em 0);
      }
      label{
        span{
            @include contacto-h2(1.2em, 0);
        }
      }
    }
    @include mapa-style(250px);
  }
}

@mixin contacto-2 {
  .contacto{
    // padding: 1.5em;
    @include contacto-style;

    .formulario{
      @include formulario-style;
      h2{
        @include contacto-h2(2em, 1em 0);
      }

      label{
        span{
            @include contacto-h2(1.2em, 0);
        }
      }

    }
    @include mapa-style(300px);
  }
}

@mixin contacto-3 {
  .contacto{
    // padding: 1.5em;
    @include contacto-style;

    .formulario{
      @include formulario-style;
      h2{
        @include contacto-h2(2.6em, 1em 0);
      }

      label{
        span{
            @include contacto-h2(1.2em, 0);
        }
      }

    }
    @include mapa-style(350px);
  }
}

@mixin contacto-4 {
  .contacto{
    // padding: 1.5em;
    @include contacto-style;

    .formulario{
      @include formulario-style;
      h2{
        @include contacto-h2(2.6em, 1em 0);
      }

      label{
        span{
            @include contacto-h2(1.2em, 0);
        }
      }

    }
    @include mapa-style(400px);
  }
}
