.logos.has-spacing
{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.logos {
    list-style: none;
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-bottom: 0;
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 1.5rem;
    -webkit-overflow-scrolling: touch;
}

@mixin nosotros-1 {
  .logos{
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .logos.has-spacing {
    margin-bottom: 0rem;
    margin-top: -3rem;
  }

  .logos li {
      position: relative;
      display: inline-block;
      white-space: normal;
      margin: 0 1em;
  }

  .divIconos
  {
    background-image: linear-gradient(to bottom,#FFFFFF,#EBEBEB);
    display: block;
    // padding: 1em 0em;
    p{
      font-family: 'Quicksand-Light', sans-serif;
      line-height: 2;
      color: #2d2e31;
      font-size: 1em;
      text-align: center;
    }
    h2{
      text-align: center;
      font-family: 'Quicksand-Light', sans-serif;
      text-transform: uppercase;
      font-size: 1.3em;
      color: #4b4e53;
      padding: 1em 0;
    }
    h4
    {
      display: block;
      margin-bottom: 0.35rem;
      letter-spacing: 1.2px;
      word-spacing: 2px;
      text-align: center;
      font-family: 'Quicksand-Regular', sans-serif;
      text-transform: uppercase;
      font-size: 1.2em;
      color:#2d2e31;
    }

    figure
    {
      max-width: 100%;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      height: 8rem;
      margin: auto;
      display: block;
      transition: -webkit-transform 200ms ease-out;
      transition: transform 200ms ease-out;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 40px;
      -webkit-margin-end: 40px;

      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
    }

    figure:hover{
      max-width: 100%;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      height: 8rem;
      margin: auto;
      display: block;
      transition: -webkit-transform 200ms ease-out;
      transition: transform 200ms ease-out;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 40px;
      -webkit-margin-end: 40px;
      -webkit-filter: grayscale(0); /* Color */
      -webkit-filter: grayscale(0.5); /* 50% color */
      -webkit-filter: grayscale(1); /* Blanco y negro */

    }
  }
}

@mixin nosotros-2 {
  .logos li {
      position: relative;
      display: inline-block;
      white-space: normal;
      margin: 0 1em;
  }

  .divIconos
  {
    background-image: linear-gradient(to bottom,#FFFFFF,#EBEBEB);
    display: block;
    // padding: 1em 0em;
    p{
      font-family: 'Quicksand-Light', sans-serif;
      line-height: 2;
      color: #2d2e31;
      font-size: 1em;
      text-align: center;
    }
    h2{
      text-align: center;
      font-family: 'Quicksand-Light', sans-serif;
      text-transform: uppercase;
      font-size: 1.9em;
      color: #4b4e53;
      padding: 1.5em 0;
    }
    h4
    {
      display: block;
      margin-bottom: 0.35rem;
      letter-spacing: 1.2px;
      word-spacing: 2px;
      text-align: center;
      font-family: 'Quicksand-Regular', sans-serif;
      text-transform: uppercase;
      font-size: 1.2em;
      color:#2d2e31;
    }

    figure
    {
      max-width: 100%;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      height: 8rem;
      margin: auto;
      display: block;
      transition: -webkit-transform 200ms ease-out;
      transition: transform 200ms ease-out;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 40px;
      -webkit-margin-end: 40px;

      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
    }

    figure:hover{
      max-width: 100%;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      height: 8rem;
      margin: auto;
      display: block;
      transition: -webkit-transform 200ms ease-out;
      transition: transform 200ms ease-out;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 40px;
      -webkit-margin-end: 40px;
      -webkit-filter: grayscale(0); /* Color */
      -webkit-filter: grayscale(0.5); /* 50% color */
      -webkit-filter: grayscale(1); /* Blanco y negro */

    }
  }
}


@mixin nosotros-3 {
  .logos li {
      position: relative;
      display: inline-block;
      white-space: normal;
      margin: 0em;
  }
  .mision{
    h2{
      text-align: center;
      font-family: 'Quicksand-Light', sans-serif;
      text-transform: uppercase;
      font-size: 1.9em;
      color: #4b4e53;
      i{
        font-size: 1em;
      }

    }
    p{
      font-family: "Open Sans", sans-serif;
      line-height: 2;
      color: #4b4e53;
      font-size: 1em;
      text-align: justify;
    }
  }
  .divIconos
  {
    background-image: linear-gradient(to bottom,#FFFFFF,#EBEBEB);
    display: block;
    // padding: 1em 0em;
    p{
      font-family: 'Quicksand-Light', sans-serif;
      line-height: 2;
      color: #2d2e31;
      font-size: 1em;
      text-align: center;
    }
    h2{
      text-align: center;
      font-family: 'Quicksand-Light', sans-serif;
      text-transform: uppercase;
      font-size: 1.9em;
      color: #4b4e53;
      padding: 1.5em 0;
    }
    h4
    {
      display: block;
      margin-bottom: 0.35rem;
      letter-spacing: 1.2px;
      word-spacing: 2px;
      text-align: center;
      font-family: 'Quicksand-Regular', sans-serif;
      text-transform: uppercase;
      font-size: 1.2em;
      color:#2d2e31;
    }

    figure
    {
      max-width: 100%;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      height: 8rem;
      margin: auto;
      display: block;
      transition: -webkit-transform 200ms ease-out;
      transition: transform 200ms ease-out;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 40px;
      -webkit-margin-end: 40px;

      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
    }

    figure:hover{
      max-width: 100%;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      height: 8rem;
      margin: auto;
      display: block;
      transition: -webkit-transform 200ms ease-out;
      transition: transform 200ms ease-out;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 40px;
      -webkit-margin-end: 40px;
      -webkit-filter: grayscale(0); /* Color */
      -webkit-filter: grayscale(0.5); /* 50% color */
      -webkit-filter: grayscale(1); /* Blanco y negro */

    }
  }
  .logos li:nth-child(1n+5)
  {
      border-top: 1px solid #CFD6CB;
      li
      {
        width: 25%;
      }
  }

  .logos li:nth-child(4n+1)
  {
      clear: left;
      border-left: 0;
  }

  .logos li
  {
      float: left;
      width: 25%;
      margin-left: 0%;
      margin-right: 0%;
      border-left: 1px solid #CFD6CB;
      padding: 1rem;
    }
}

@mixin nosotros-4 {
  .logos li {
      position: relative;
      display: inline-block;
      white-space: normal;
      margin: 0em;
  }
  .mision{
    h2{
      text-align: center;
      font-family: 'Quicksand-Light', sans-serif;
      text-transform: uppercase;
      font-size: 2.3em;
      color: #4b4e53;
      i{
        font-size: 0.9em;
      }
    }
    p{
      font-family: "Open Sans", sans-serif;
      line-height: 2;
      color: #4b4e53;
      font-size: 1.075em;
      text-align: justify;
    }
  }
  .divIconos
  {
    background-image: linear-gradient(to bottom,#FFFFFF,#EBEBEB);
    display: block;
    // padding: 1em 0em;
    p{
      font-family: 'Quicksand-Light', sans-serif;
      line-height: 2;
      color: #2d2e31;
      font-size: 1em;
      text-align: center;
    }
    h2{
      text-align: center;
      font-family: 'Quicksand-Light', sans-serif;
      text-transform: uppercase;
      font-size: 2.3em;
      color: #4b4e53;
      padding: 1.5em 0em;
    }
    h4
    {
      display: block;
      margin-bottom: 0.35rem;
      letter-spacing: 1.2px;
      word-spacing: 2px;
      text-align: center;
      font-family: 'Quicksand-Regular', sans-serif;
      text-transform: uppercase;
      font-size: 1em;
      color: #2d2e31;
    }
    figure
    {
      max-width: 100%;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      height: 8rem;
      margin: auto;
      display: block;
      transition: -webkit-transform 200ms ease-out;
      transition: transform 200ms ease-out;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 40px;
      -webkit-margin-end: 40px;

      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
    }

    figure:hover{
      max-width: 100%;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      height: 8rem;
      margin: auto;
      display: block;
      transition: -webkit-transform 200ms ease-out;
      transition: transform 200ms ease-out;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 40px;
      -webkit-margin-end: 40px;
      -webkit-filter: grayscale(0); /* Color */
      -webkit-filter: grayscale(0.5); /* 50% color */
      -webkit-filter: grayscale(1); /* Blanco y negro */

    }
  }
  .logos li:nth-child(1n+5)
  {
      border-top: 1px solid #CFD6CB;
      li
      {
        width: 25%;
      }
  }

  .logos li:nth-child(4n+1)
  {
      clear: left;
      border-left: 0;
  }

  .logos li
  {
      float: left;
      width: 25%;
      margin-left: 0%;
      margin-right: 0%;
      border-left: 1px solid #CFD6CB;
      padding: 1rem;
    }
}
