<!-- <div class="row mision">
    <div class="large-12 medium-12 small-12 large-centered medium-centered small-centered columns">
      <div class="large-5 medium-6 small-12 columns">
        <h2> Misión</h2>
        <p>Ofrecer soluciones tecnológicas de calidad a las pequeñas y medianas empresas, para posicionarse en el mercado mediante el desarrollo de aplicaciones web y móviles, ajustadas a sus necesidades.</p>
      </div>
      <div class="large-5 medium-6 small-12 columns">
        <h2> Visión</h2>
        <p>Ser una empresa líder en el Desarrollo de software utilizando tecnologías modernas, para asegurar la calidad de nuestros productos y satisfacción de nuestros clientes.</p>
      </div>
    </div>
</div> -->

<div class=" expanded row divIconos">
    <div class="large-12 medium-12 small-12 columns">
      <h2><i class="mdi mdi-vector-polyline"></i> Nuestras Herramientas de Trabajo</h2>
      <ul class="logos has-spacing has-marks">
          <li>
            <figure style="background-image: url('assets/images/iconos-apps/angular.png');"></figure>
              <div class="logo--description">
                <h4>ANGULAR 2</h4>
                <p>
                  Desarrollo de aplicaciones web y móviles.
                </p>
              </div>
          </li>
          <li>
            <figure style="background-image: url('assets/images/iconos-apps/foundation.png');"></figure>
              <div class="logo--description">
                <h4>FOUNDATION ZURB</h4>
                <p>
                  Diseño de sitios responsivos asombrosos.
                </p>
              </div>
          </li>
          <li>
            <figure style="background-image: url('assets/images/iconos-apps/github.png');"></figure>
              <div class="logo--description">
                <h4>GIT</h4>
                <p>
                  Git nos ayuda a agilizar el desarrollo trabajando en equipo.
                </p>
              </div>
          </li>
          <li>
            <figure style="background-image: url('assets/images/iconos-apps/atom.png');"></figure>
              <div class="logo--description">
                <h4>ATOM</h4>
                <p>
                  Nuestro código es escrito en Atom.
                </p>
              </div>
          </li>
          <li>
            <figure style="background-image: url('assets/images/iconos-apps/gulp.png');"></figure>
              <div class="logo--description">
                <h4>GULP</h4>
                <p>
                  Desarrollo fluido y automatizado.
                </p>
              </div>
          </li>
          <li>
            <figure style="background-image: url('assets/images/iconos-apps/illustrator.png');"></figure>
              <div class="logo--description">
                <h4>ADOBE ILLUSTRATOR</h4>
                <p>
                  Diseño de los elementos gráficos.
                </p>
              </div>
          </li>
          <li>
            <figure style="background-image: url('assets/images/iconos-apps/sketch.png');"></figure>
              <div class="logo--description">
                <h4>SKETCH</h4>
                <p>
                  Nuestros prototipos son diseñados en Sketch.
                </p>
              </div>
          </li>
          <li>
            <figure style="background-image: url('assets/images/iconos-apps/sass.png');"></figure>
              <div class="logo--description">
                <h4>Sass</h4>
                <p>
                  Desarrollamos nuestro CSS mediante Sass.
                </p>
              </div>
          </li>
      </ul>
  </div>
</div>
