<div class="row">
  <div class="large-12 large-centered columns">

    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="large">

      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
      </div>

      <div class="title-bar-right">
        <div class="logo">
          <img src="assets/images/RexDevLogo.png" alt="" />
        </div>
      </div>

    </div>

      <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu">
            <img class="show-for-large" src="assets/images/RexDevLogo.png" alt="" />
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu vertical medium-horizontal">
            <li *ngFor="let route of routes">
              <a [href]="[route.name]" class="menu-tag"><i class="mdi mdi-drag show-for-small-only"></i> {{route.name.substr(1)}}</a>
            </li>
          </ul>
        </div>
      </div>

  </div>
</div>
