@mixin logo-size($w,$h,$left) {
  min-width: $w;
  min-height: $h;
  width: $w;
  height: $h;
  margin-left: $left;
}

@mixin logo-size-small($w, $h) {
  .logo{
    img{
      display: block;
      max-width: $w;
      max-height: $h;
      width: auto;
      height: auto;
    }
  }
}

@mixin menu-config($margin, $font-size, $font-pad) {
  float: left;
  margin: $margin;
  li {
    a{
      font-family: "Open Sans", sans-serif;
      font-weight: 200;
      color: #7e8082;
      font-size: $font-size;
      text-align: left;
      padding: $font-pad;
      &:hover{
        color: #ededed;
        font-weight: 400;
      }
    }
  }
}

@mixin menu-1 {
  .title-bar-title {
    margin-top: -10px;
  }
  .title-bar {
      background: transparent !important;
      color: black !important;
      padding: 2rem !important;
      .title-bar-left{
        margin: 2em 0;
        .menu-icon {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
          width: 25px;
          height: 25px;
          &::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background: black;
            top: 0;
            left: 0;
            box-shadow: 0 7px 0 black, 0 14px 0 black;
          }
        }
      }
      .title-bar-right{
        @include logo-size-small(30vw, 30vh);
      }
  }
  .top-bar, .top-bar ul {
      background-color: #353839;
    .top-bar-left{
      img{
        @include logo-size(70px,40px,1em);
      }
    }
    .top-bar-right{
      background: #353839;
      .menu{
        // menu-config ($margin, $font-size, $padding)
        @include menu-config(0em 0em 0em 4em, 1.6em, 1em);
        background: none;
      }
    }
  }
}

@mixin menu-2 {
  .title-bar {
      .title-bar-right{
        @include logo-size-small(20vw, 20vh);
      }
  }
  .top-bar, .top-bar ul {
      background-color: transparent !important;
    .top-bar-left{
      img{
        @include logo-size(70px,40px,1em);
      }
    }
    .top-bar-right{
      .menu{
        // menu-config ($margin, $font-size, $padding)
        @include menu-config(1em 2em, 1.2em, 1em);
      }
    }
  }
}

@mixin menu-3 {
  .top-bar, .top-bar ul {
      background-color: transparent !important;
    .top-bar-left{
      img{
        @include logo-size(200px,150px,2em);
      }
    }
    .top-bar-right{
      .menu{
        // menu-config ($margin, $font-size, $padding)
        @include menu-config(4em 5em 0 0, 1.2em, 1em);
      }
    }
  }
}

@mixin menu-4 {
  .top-bar, .top-bar ul {
      background-color: transparent !important;
    .top-bar-left{
      img{
        @include logo-size(250px,200px,4em);
      }
    }
    .top-bar-right{
      .menu{
        // menu-config ($margin, $font-size, $padding)
        @include menu-config(4em 12em 0 0, 1.2em, 1em);
      }
    }
  }
}
