<div class="expanded row">

  <div id="dintel-background" class="dintel-background dintel-background-config dintel-background-tint">

    <div class="menu-nav">
      <div class="row column">
        <as-navbar [routes]="appRoutes" [brand]="appBrand"></as-navbar>
      </div>
    </div>

    <div id="callout" class="callout">
      <div class="row column text-center">
        <h1 class="animation-element slide-right">Usando la creatividad para cambiar el mundo</h1>
        <p class="lead">Agencia desarrolladora de aplicaciones web y móvil</p>
        <a href="#Nosotros" class=" button large hollow">Quienes somos</a>
      </div>

      <a href="#Nosotros"><div id="arrow" class="arrow bounce"></div></a>

    </div>

  </div>
</div>
