@mixin fondo-dintel {
  .arrow {
    position: relative;
    bottom: -8em;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-size: contain;
    color: white;
    z-index: 999;
  }

  .bounce {
    -moz-animation: bounce 4s infinite;
    -webkit-animation: bounce 4s infinite;
    animation: bounce 4s infinite;
  }
  #dintel-background{
    height: auto;
  }
  .dintel-background-config {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
  }
  .dintel-background-tint{
    position: relative;
  }
  .dintel-background-tint:before{
    background-color: #949493;
    background-image: linear-gradient(to bottom,#FFFFFF,#EBEBEB);
    opacity:0.8;
    content:"";
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    z-index: 1;
  }
}

@mixin callout-dintel($call-padding) {
  background-color: transparent !important;
  border: none;
  // padding: $call-padding;
  z-index: 2;
  overflow: hidden;
  h1{
    text-transform: uppercase;
    font-family: 'Quicksand-Regular', sans-serif;
    color: #2A2927;

  }
  p{
    text-align: center;
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;
    color: #2A2927;
  }
  .borde{
    hr{
      border-top: 3px solid #EBEBEB;
    }
  }
  .button.hollow{
    font-family: 'Quicksand-Regular', sans-serif;
    border: 1px solid #99B02F;
    color: #2A2927;
  }
}



@mixin dintel-1 {

  @include fondo-dintel;

  .dintel-background {
    .menu-nav{
      position: relative;
      z-index: 999;
    }
    .callout{
      @include callout-dintel(15em 0 0 0);
    }
  }
}

@mixin dintel-2 {
  @include fondo-dintel;

  .dintel-background {
    .menu-nav{
      position: relative;
      z-index: 999;
    }
    .callout{
      @include callout-dintel(14em 0 0 0);
      h1{
        font-size: 2rem;
      }
    }
  }
}

@mixin dintel-3 {
  @include fondo-dintel;

  .dintel-background {
    .menu-nav{
      position: relative;
      z-index: 999;
    }
    .callout{
      @include callout-dintel(12em 0 0 0);
      h1{
        font-size: 3em;
      }
    }
  }
}

@mixin dintel-4 {
  @include fondo-dintel;

  .dintel-background {
    .menu-nav{
      position: relative;
      z-index: 999;
    }
    .callout{
      @include callout-dintel(13em 0 0 0);
      h1{
        font-size: 3em;
      }
    }
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
