$font-h2: 'Quicksand-Light', sans-serif;
$color-h2: #4b4e53;

@mixin portafolio-h2($font-size,$pad-bot) {
  text-align: center;
  font-family: $font-h2;
  text-transform: uppercase;
  font-size: $font-size;
  color: $color-h2;
  padding: $pad-bot;
}

@mixin portafolio-style {
  /* ---- button ---- */
  .button.hollow {
    border: 1px solid #99B02F;
    color: #2A2927;
    &:hover{
      border: 1px solid #99B02F;
      background-color: #99B02F;
      color: #fefefe;
    }
  }

  .button:active,
  .button.is-checked {
    background-color: #99B02F;
    color: #fefefe;
  }

  .button-group:after {
    content: '';
    display: block;
    clear: both;
  }

  .button-group .button:first-child {
    border-radius: 0.5em 0 0 0.5em;
  }
  .button-group .button:last-child {
    border-radius: 0 0.5em 0.5em 0;
  }

  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  .element-item.design-web {
    // border: 1px solid red;
  }
  .element-item.grafic-design {
    // border: 1px solid blue;
  }
  .element-item.app-movil {
    // border: 1px solid green;
  }

}

@mixin element-item {
  .element-item {
    background: #F5F5F5;
    position: relative;
    width: 300px;
    height: 320px;
    margin: 0.9em 1.4em;
    padding: 0em;
    h3{
      @include portafolio-h2(1.4em, 0);
      padding: 1em 0 0 0;
      font-family: "Quicksand-Regular", sans-serif;
    }
    img{
      margin-left: 3.1em;
    }
    p{
      text-align: center;
      font-family: "Quicksand-Regular", sans-serif;
      // background: #2A2927;
      color: black;
      margin-bottom: 0;
      padding: 0.2em ;
      font-size: 0.875em;
      &:nth-child(2n+0){
        color: white;
        background: #3f3e3c;
        }
      }
  }
}

@mixin portafolio-1 {
  .portafolio{
    padding: 2em;

    .owl-item .item{
      margin: 3px;
    }
    .owl-item img{
      display: block;
      width: 100%;
      height: 50vh;
    }

    @include portafolio-style;

    @include element-item;

    h2{
      @include portafolio-h2(1.8em,0.75em 0);
    }
    .button-group .button {
      font-size: 0.7rem;
    }

  }
  .boton-portafolio{
    padding: 1.8em 0;
    background: #2A2927;
    cursor: pointer;
    h4{
      @include portafolio-h2(1.4em,0em);
      color: #fefefe;
    }
    &:hover{
      background: #3f3e3c;
    }
  }
}

@mixin portafolio-2 {
  .portafolio{
    padding: 1em;

    @include portafolio-style;

    @include element-item;

    h2{
      @include portafolio-h2(2em,0.75em);
    }


    .button-group .button {
      font-size: 0.9rem;
    }
  }
  .boton-portafolio{
    padding: 1.8em 0;
    background: #2A2927;
    cursor: pointer;
    h4{
      @include portafolio-h2(1.8em,0em);
      color: #fefefe;
    }
    &:hover{
      background: #3f3e3c;
    }
  }
  .grid
  {
        margin-left: 15%;
  }
}

@mixin portafolio-3 {
  .portafolio{
    padding: 2em;

    @include portafolio-style;

    @include element-item;

    h2{
      @include portafolio-h2(2.4em, 1em);
    }

  }

  .grid
  {
        margin-left: 6%;
  }

  .boton-portafolio{
    padding: 1.8em 0;
    background: #2A2927;
    cursor: pointer;
    h4{
      @include portafolio-h2(1.9em,0em);
      color: #fefefe;
    }
    &:hover{
      background: #3f3e3c;
    }
  }

}

@mixin portafolio-4 {
  .portafolio{
    padding: 3em;

    @include portafolio-style;

    @include element-item;

    h2{
      @include portafolio-h2(2.8em, 1.5em);
    }

  }
  .boton-portafolio{
    padding: 2em 0;
    background: #2A2927;
    cursor: pointer;
    h4{
      @include portafolio-h2(2.4em, 1em);
      color: #fefefe;
    }
    &:hover{
      background: #3f3e3c;
    }
  }
}
