<div class="portafolio">

  <div class="row">
    <div class="large-12 columns">
      <h2><i class="mdi mdi-layers"></i> Nuestros últimos trabajos</h2>
    </div>
  </div>

  <div class="show-for-small-only">
    <div class="expanded row">
      <div id="owl-demo-home" class="owl-carousel owl-theme">
        <div *ngFor="let work of lastWork">
            <img [src]="work.img" />
        </div>
      </div>
    </div>
  </div>

  <div class="show-for-medium">
    <div class="row animation-element slide-left">
      <div class="large-6 medium-9 medium-centered large-centered columns">
        <div class="button-group filters-button-group" style="text-align: center;">
          <button class="button hollow is-checked" data-filter="*">Todos</button>
          <button class="button hollow" data-filter=".design-web">Diseño web</button>
          <button class="button hollow" data-filter=".grafic-design">Diseño gráfico</button>
          <button class="button hollow" data-filter=".app-movil">App móvil</button>
        </div>
      </div>
    </div>

    <div class="row animation-element slide-right">
      <div class="grid">
        <div *ngFor="let work of lastWork">
          <div [ngClass]="work.classes" >
            <h3 class="name">{{work.nombre}}</h3>
            <img [src]="work.img" />
            <p>
              {{work.tipo}}
            </p>
            <p>
              {{work.desc}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="expanded row boton-portafolio">
  <h4><i class="mdi mdi-blur-radial" aria-hidden="true"></i> Ver portaflio completo</h4>
</div>
