@mixin servicios-1 {
  .servicios{
    padding: 1em;
        .callout{
          background: none;
          border: none;
          }
        .lead {
          font-size: 125%;
          line-height: 1.6;
          text-align: center;
          font-family: 'Quicksand-Regular', sans-serif;
        }

        .servicios-h{
          text-align: center;
          font-family: 'Quicksand-Light', sans-serif;
          text-transform: uppercase;
          font-size: 1.3em;
          color: #4b4e53;
          padding: 1.5em 0em;
        }

        .subheader {
          font-family: 'Quicksand-Regular', sans-serif;
          // color: #4b4e53;
          margin-top: 0.2rem;
          margin-bottom: 0.5rem;
          font-weight: normal;
          line-height: 1.4;
          color: #8a8a8a;
          text-align: center;
        }
          img{
            max-width: 30%;
        }

      }
}

@mixin servicios-2 {
  .servicios{
    padding: 1em;

    .callout{
      background: none;
      border: none;
      }


  .lead {
    font-size: 125%;
    line-height: 1.6;
    text-align: center;
    font-family: 'Quicksand-Regular', sans-serif;
  }

  .subheader {
    font-family: 'Quicksand-Regular', sans-serif;
    // color: #4b4e53;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    line-height: 1.4;
    color: #8a8a8a;
    text-align: center;
  }

  .servicios-h{
    text-align: center;
    font-family: 'Quicksand-Light', sans-serif;
    text-transform: uppercase;
    font-size: 2.3em;
    color: #4b4e53;
    padding: 1.5em 0em;
  }
}
}

@mixin servicios-3 {
.servicios{
    padding: 2em;
    img{
      width: 110px;
    }
    .callout{
      background: none;
      border: none;
      }


  .lead {
    font-size: 125%;
    line-height: 1.6;
    text-align: center;
    font-family: 'Quicksand-Regular', sans-serif;
  }

  .subheader {
    font-family: 'Quicksand-Regular', sans-serif;
    // color: #4b4e53;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    line-height: 1.4;
    color: #8a8a8a;
    text-align: center;
  }

  .servicios-h{
    text-align: center;
    font-family: 'Quicksand-Light', sans-serif;
    text-transform: uppercase;
    font-size: 2.3em;
    color: #4b4e53;
    padding: 1.5em 0em;
  }
}
}

@mixin servicios-4 {
  .servicios{
    padding: 3em;
    img{
      width: 110px;
    }
    .callout{
      background: none;
      border: none;
      }

  .lead {
    font-size: 125%;
    line-height: 1.6;
    text-align: center;
    font-family: 'Quicksand-Regular', sans-serif;
  }
  .subheader {
    font-family: 'Quicksand-Regular', sans-serif;
    // color: #4b4e53;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    line-height: 1.4;
    color: #8a8a8a;
    text-align: center;
  }

  .servicios-h{
    text-align: center;
    font-family: 'Quicksand-Light', sans-serif;
    text-transform: uppercase;
    font-size: 2.3em;
    color: #4b4e53;
    padding: 1.5em 0em;
  }
}
}
