<div class="large-12 medium-12 small-12 large-centered medium-centered small-cenetred columns">
      <h2 class="servicios-h"><i class="fa fa-connectdevelop" aria-hidden="true"></i> Nuestros Servicios</h2>
</div>

<div class="row small-up-1 medium-up-2 large-up-4">
  <div class="column animation-element bounce-up cf">
      <div class="callout">
        <p style="text-align:center;"><img src="assets/images/iconos/semantic.svg" alt="Diseño Web"></p>
        <p class="lead">Diseño Web</p>
        <p class="subheader">Diseñamos tu sitio web profesional.</p>
      </div>
    </div>
    <div class="column animation-element bounce-up cf">
      <div class="callout">
        <p style="text-align:center;"><img src="assets/images/iconos/icono-1.png" alt="Diseño Grafico"></p>
        <p class="lead">Diseño Grafico</p>
        <p class="subheader">Diseñamos tu Imagen coorporativa</p>
      </div>
    </div>
    <div class="column animation-element bounce-up cf">
      <div class="callout">
        <p style="text-align:center;"><img src="assets/images/iconos/icono-2.png" alt="Desarrollo de Aplicaciones Moviles"></p>
        <p class="lead">Aplicaciones Moviles</p>
        <p class="subheader">Desarrollamos la App que siempre soñaste.</p>
      </div>
    </div>
    <div class="column animation-element bounce-up cf">
      <div class="callout">
        <p style="text-align:center;"><img src="assets/images/iconos/cotizacion.png" alt="Cotizacion"></p>
        <p class="lead">Cotizar</p>
        <p class="subheader">Cotización personalizada a sus requerimientos gratis</p>
      </div>
    </div>
</div>
