@import 'foundation';
@import 'mdi';
@import 'font_awesome';
@import 'mixins';
@import 'fonts';
@import 'responsive';
@import 'owl_carousel';

@include foundation-everything;

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
