@import "../../app/nosotros/nosotros";
@import "../../app/navbar/navbar";
@import '../../app/home/home';
@import '../../app/dintel/dintel';
@import '../../app/footer/footer';
@import '../../app/portafolio/portafolio';
@import "../../app/servicios/servicios";
@import '../../app/contacto/contacto';
@import 'animations';


.body{
  font-family: Open Sans,Trebuchet MS,sans-serif;

}

// Small screens
@media only screen {
  @include menu-1;
  @include dintel-1;
  @include home-1;
  @include nosotros-1;
  @include portafolio-1;
  @include servicios-1;
  @include footer-1;
  @include contacto-1;
} /* Define mobile styles */


// Medium screens
@media only screen and (min-width: 40.063em) {
  body{
    // border: 2px solid green;
  }
  @include menu-2;
  @include dintel-2;
  @include home-2;
  @include nosotros-2;
  @include portafolio-2;
  @include servicios-2;
  @include footer-2;
} /* min-width 641px, medium screens */


// Large screens
@media only screen and (min-width: 64.063em) {
  body{
    // border: 1px solid red;
  }
  @include menu-3;
  @include dintel-3;
  @include home-3;
  @include nosotros-3;
  @include portafolio-3;
  @include servicios-3;
  @include footer-3;
  @include contacto-3;
} /* min-width 1025px, large screens */


// XLarge screens
@media only screen and (min-width: 90.063em) {
  body{
    // border: 2px solid blue;
  }
  @include menu-4;
  @include dintel-4;
  @include home-4;
  @include nosotros-4;
  @include portafolio-4;
  @include servicios-4;
  @include footer-4;
  @include contacto-4;
} /* min-width 1441px, xlarge screens */


// XXLarge screens
@media only screen and (min-width: 120.063em) {
  @include menu-4;
  @include dintel-4;
  @include home-4;
  @include nosotros-4;
  @include portafolio-4;
  @include servicios-4;
  @include footer-4;
  @include contacto-4;
} /* min-width 1921px, xxlarge screens */
