@mixin home-1 {
  .inicio{
    overflow: hidden;
    .titulo-small{
      padding: 2em 0;
      text-align: center;
      font-family: 'Quicksand-Light', sans-serif;
      text-transform: uppercase;
      font-size: 1.3em;
      color: #4b4e53;
    }
    .descripcion{
      p{
        padding: 1em 0;
        text-align: justify;
        font-family: "Open Sans", sans-serif;
        line-height: 2;
        color: #4b4e53;
      }
    }
  }
}

@mixin home-2 {
  .titulo-medium{
    padding: 6em 0 2em 0;
    text-align: center;
    font-family: 'Quicksand-Light', sans-serif;
    text-transform: uppercase;
    font-size: 2.3em;
    color: #4b4e53;
  }
  .descripcion{
    p{
      padding: 1em 0;
      text-align: justify;
      font-family: "Open Sans", sans-serif;
      line-height: 2;
      color: #4b4e53;
    }
  }
}

@mixin home-3 {
.inicio{
  overflow: hidden;
  .menu-2{
    background: #ebebeb;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: auto;
    padding: 1.5em;
    // display: none;
    li {
      a{
        font-family: "Open Sans", sans-serif;
        font-weight: 200;
        color: #7e8082;
        font-size: 1.2em;
        text-align: center;
      }
      &:hover{
        border-bottom: 2px solid #99B02F;
      }
    }
  }
  .sobre-nosotros{
    padding: 4em 2em 2em 2em;
    .descripcion{
      padding: 2em 0;
      h2{
        text-align: center;
        font-family: 'Quicksand-Light', sans-serif;
        text-transform: uppercase;
        font-size: 2.6em;
        color: #4b4e53;

      }
      p{
        font-family: "Open Sans", sans-serif;
        line-height: 2;
        color: #4b4e53;
        font-size: 1em;
        padding: 1em 2em;
        text-align: justify;
      }
    }
  }
  .nosotros{
    padding: 1em 0;
  }
}
}

@mixin home-4 {
  .sobre-nosotros{
    padding: 6em 4em 4em 4em;
    .descripcion{
      padding: 4em 0;
      h2{
        text-align: center;
        font-family: 'Quicksand-Light', sans-serif;
        text-transform: uppercase;
        font-size: 2.8em;
        color: #4b4e53;
      }
      p{
        font-family: "Open Sans", sans-serif;
        line-height: 2;
        color: #4b4e53;
        font-size: 1.075em;
        padding: 1em 3em;
        text-align: justify;
      }
    }
  }
  .nosotros{
    padding: 0;
  }
}
