<div class="inicio">
  <div id="Inicio" data-magellan-target="Inicio" class="scrolling">
    <dintel [fondo]="fondoHome" [arrow]="arrow"></dintel>
  </div>


  <section id="Nosotros" data-magellan-target="Quien" class="expanded row sobre-nosotros">
    <h3 class="show-for-medium-only  titulo-medium" ><i class="mdi mdi-arrange-bring-to-front"></i> Nuestra agencia</h3>
      <h3 class="show-for-small-only  titulo-small"><i class="mdi mdi-arrange-bring-to-front"></i> Nuestra agencia</h3>

      <div class="animation-element bounce-up cf" >
					<div class="subject development">
              <div class="medium-6 columns medium-push-6">
                  <img src="assets/images/home/imacRex.png" />
              </div>
          </div>
      </div>

      <div class="medium-6 columns medium-pull-6">
          <div class="descripcion">
              <h2 class="show-for-large"><i class="mdi mdi-arrange-bring-to-front"></i> Nuestra agencia</h2>
              <p>En RexDev tenemos la mirada puesta en el futuro, desarrollamos nuestros proyectos con la tecnologías modernas, para asegurar un periodo de vida largo de nuestros proyectos. El trabajo, constancia, orden, disciplina y respeto a nuestros clientes
                  son el factor del éxito de RexDev. Nos esforzamos día a día dando lo mejor de nosotros para desarrollar productos de calidad que satisfagan todas tus necesidades. En RexDev empleamos todo nuestro potencial, conocimiento y calidad humana
                  para cumplir nuestros objetivos.</p>
          </div>
      </div>
  </section>

  <section id="Servicios" data-magellan-target="Servicios" class="servicios scrolling">
      <servicios></servicios>
  </section>

  <section id="Herramientas" data-magellan-target="Nosotros" class="nosotros scrolling">
      <nosotros></nosotros>
  </section>


  <section id="Portafolio" data-magellan-target="Portafolio" class="scrolling">
    <portafolio></portafolio>
  </section>

  <section id="Contacto" data-magellan-target="Contacto" class="scrolling">
    <contacto-form [fondo]="fondoContacto"></contacto-form>
    <footer></footer>
  </section>

</div>
